:root {
   //* Colors
   --blue-100: hsl(188, 78%, 41%);
   --blue-300: hsl(195, 67%, 30%);

   --gray-300: hsl(0, 4%, 25%);
   --gray-200: hsl(100, 18%, 13%);
   --gray-100: hsl(0, 0%, 50%);

   --white: hsl(0, 0%, 100%);
   --black: hsl(0, 0%, 0%);

   --red: hsl(354, 70%, 54%);

   --shadow: rgba(1, 1, 1, 0.288);

   //* Fonts
   font-size: 62.5%; /* 1rem = 10px */
}
