@use "variables";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;

   ::-webkit-scrollbar {
      width: 1rem;
   }
   ::-webkit-scrollbar-track {
      background: variables.$gray-100;
   }
   ::-webkit-scrollbar-thumb {
      background: variables.$blue-100;
      border-radius: 2.4rem;
   }
}

body {
   background-color: variables.$gray-400;
   font-size: 1.6rem;
   font-family: "Montserrat", sans-serif;
}
