@import "variables";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}

body {
   background-color: var(--gray-200);
   font-size: 1.6rem;
   font-family: "Montserrat", sans-serif;
}

//[] === === === === === === === === ===|=> Responsive Mobile <=|=== === === === === === === === ===
@media (max-width: 1000px) {
   .navigation {
      transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;

      overflow: hidden;
      ul {
         transition: all 0.5s ease-in-out;
      }
      li {
         display: none;
      }
      li.threeline-icon {
         display: inline-block;
         .iconOpen {
            display: inline-block;
            fill: var(--color-white);
            &:hover {
               fill: var(--color-blue-300);
            }
         }
         .iconClose {
            display: none;
         }
      }
   }
   .menuMobile {
      height: 31rem;

      ul {
         transition: all 0.5s ease-in-out;
         height: auto;
         text-align: center;
         padding-right: 15%;
         padding-left: 15%;
      }
      li {
         display: block;
         border-bottom: solid grey 0.1rem;
         width: 100%;
         padding: 0;
      }
      li.threeline-icon {
         .iconOpen {
            display: none;
         }
         .iconClose {
            margin-top: 1.5rem;
            display: inline-block;
            stroke: var(--color-white);
            transition: all 0.5s ease-in-out;
            &:hover {
               stroke: var(--color-blue-300);
            }
         }
      }
   }

   .main__box {
      max-width: 100%;
      background-size: auto 100%;
   }

   .main__blackbox {
      opacity: 0.8;
   }
}
